[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/probberechts/hexo-theme-cactus.git
[submodule "themes/cactus-light"]
	path = themes/cactus-light
	url = https://github.com/GabiThume/cactus-light.git
